body {
  overflow: hidden;
  background-color:#222544;
  background-image: url('../img/Background-Canvas.png');
  background-size: 100%;
  font-family: 'Press Start 2P' cursive;
}

canvas {
  background-color: transparent;
}

#glasspane, #glasspane2 {
  display:none;
  position:relative;
  left: 36.9%;
  top: 76%;
  padding: 0px 0px 0px 10px;
  background: transparent;
  border: thin solid transparent;
  color: #eeeeee;
  font-family: Droid Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  cursor: pointer;
  -webkit-box-shadow:white;
  -moz-box-shadow: white;
  box-shadow: white;
}

/* #glasspane2 {
  display:none;
  position:relative;
  left: 36.9%;
  top: 76%;
  padding: 0px 0px 0px 10px;
  background: transparent;
  border: thin solid transparent;
  color: #eeeeee;
  font-family: Droid Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  cursor: pointer;
  -webkit-box-shadow:white;
  -moz-box-shadow: white;
  box-shadow: white;
} */

#input {
width: 327%;
}




  
  